@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: lato, arial, sans-serif;
}

header {
    background-color: #a168da;
    color: white;
    padding: 20px;
}

h1,h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    border: solid white;
    border-radius: 14px;
    color: white;
    padding: 1em;
    margin: 0.5em;
    text-decoration: none;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    margin: .5em;
}

.photo-container{
    text-align: center;
    margin-bottom: 20px;
}

.photo-container img {
    border-radius: 10px;
}

.site-footer {
    text-align: center;
    padding: 20px;
    background-color: #a168da;
}